#backgroundPopup { 
	z-index:90;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#E2E2E2;
	top:30%;  
	left:0px;
}
#toPopup {
	font-family:"Comic Sans MS", cursive;
    background:none repeat scroll 0 0 #F7F7F7;
    border: 10px solid #999;
    border-radius: 0px 30px 0px 30px;
    color: #333333;
    display: none;
	font-size: 15px;
    left: 38%;
    position: fixed;
    top: 30%;
    width:22%;
    z-index: 90;
	box-shadow:0px 0px 10px 5px #C0C0C0;
}
div.loader {
    background: url("../img/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
div.close {
    background: url("../img/closebox.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 27px;
    position: relative;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 100px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
#popup_content {
    margin:5px;
}